<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116966177185-j6aht34kepjf4tk2bp8so5rqhlq695gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116966177185-j6aht34kepjf4tk2bp8so5rqhlq695gb</string>
	<key>API_KEY</key>
	<string>AIzaSyCXlZYQPBTBiATaCRsw2XOKwX27eWJ9gBg</string>
	<key>GCM_SENDER_ID</key>
	<string>116966177185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tree</string>
	<key>PROJECT_ID</key>
	<string>greenlens-1</string>
	<key>STORAGE_BUCKET</key>
	<string>greenlens-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116966177185:ios:5795280489a2f6303b73e0</string>
</dict>
</plist>